# Template my.cnf for PXC
# Edit to your requirements.
[client]
socket=/var/lib/mysql/mysql.sock

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
user=mysql
binlog_format=ROW


######## wsrep ###############
wsrep_provider=/usr/lib64/galera4/libgalera_smm.so
wsrep_cluster_name=pxc-cluster
wsrep_cluster_address=gcomm://{{ groups['mysql_nodes']|join(',') }}
wsrep_node_name={{ ansible_hostname }}
wsrep_node_address={{ ansible_default_ipv4.address }}
wsrep_sst_method=xtrabackup-v2
# wsrep_sst_auth=sstuser:s$tus3r
pxc_strict_mode=ENFORCING
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
pxc_encrypt_cluster_traffic=OFF


# Path to Galera library

# Cluster connection URL contains IPs of nodes
#If no IP is found, this implies that a new cluster needs to be created,
#in order to do that you need to bootstrap this node

# In order for Galera to work correctly binlog format should be ROW
# Slave thread to use

wsrep_log_conflicts

# This changes how InnoDB autoincrement locks are managed and is a requirement for Galera

# Node IP address
# Cluster name

#If wsrep_node_name is not specified,  then system hostname will be used
#wsrep_node_name=pxc-cluster-node-1

#pxc_strict_mode allowed values: DISABLED,PERMISSIVE,ENFORCING,MASTER

# SST method


# ##-------------------

# # Template my.cnf for PXC
# # Edit to your requirements.
# [client]
# socket=/var/lib/mysql/mysql.sock

# [mysqld]
# datadir=/var/lib/mysql
# socket=/var/lib/mysql/mysql.sock
# log-error=/var/log/mysqld.log
# pid-file=/var/run/mysqld/mysqld.pid
# user=mysql
# binlog_format=ROW


# ######## wsrep ###############
# wsrep_provider=/usr/lib64/galera4/libgalera_smm.so
# wsrep_cluster_name=pxc-cluster
# wsrep_cluster_address=gcomm://192.168.100.25,192.168.100.9,192.168.100.13
# wsrep_node_name=mysql-node1
# wsrep_node_address=192.168.100.9
# wsrep_sst_method=xtrabackup-v2
# #wsrep_sst_auth=sstuser:s$tus3r
# pxc_strict_mode=ENFORCING
# binlog_format=ROW
# default_storage_engine=InnoDB
# innodb_autoinc_lock_mode=2
# pxc_encrypt_cluster_traffic=OFF

# # Path to Galera library

# # Cluster connection URL contains IPs of nodes
# #If no IP is found, this implies that a new cluster needs to be created,
# #in order to do that you need to bootstrap this node

# # In order for Galera to work correctly binlog format should be ROW
# # Slave thread to use

# wsrep_log_conflicts

# # This changes how InnoDB autoincrement locks are managed and is a requirement for Galera

# # Node IP address
# # Cluster name

# #If wsrep_node_name is not specified,  then system hostname will be used
# #wsrep_node_name=pxc-cluster-node-1

# #pxc_strict_mode allowed values: DISABLED,PERMISSIVE,ENFORCING,MASTER

# # SST method

# ##-----------